
<div class="row">
    <div class="col-sm-6">
        <h3>Property Details  </h3>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-success col-sm-3 btn-sm pull-right " href="http://louchapathap.nic.in/guidanceLandValue.aspx" target="_blank" role="button">Land Valuation</a>
    </div>
</div>

<hr />
<form class="css-form" name="applyPropForm" novalidate>
<div class="container-fluid">
        <div class="form-horizontal">
            <div class="form-group">

                <div class="col-sm-6">
                    <div class="col-md-4 hidden-xs text-right">
                        <label class="control-label">District:</label>
                    </div>
                    <div class="col-md-8">

                        <select name="district" class="form-control"
                                data-ng-model="propertyddl.district"
                                data-ng-options="district.distName for district in districts  | orderBy:'distName'" data-ng-disabled="pformModel.submitted">
                            <option value="">--Select District--</option>
                        </select>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-md-4 hidden-xs text-right">
                        <label class="control-label">Sub-Division:</label>
                    </div>
                    <div class="col-md-8 ">
                        <select class="form-control"
                                data-ng-model="propertyddl.subdivsion"
                                data-ng-options="subdiv.subDivName for subdiv in revsubdivisions |  filter:{distCode:propertyddl.district.distCode} | orderBy: 'subDivName'"
                                data-ng-disabled="!propertyddl.district||pformModel.submitted">
                            <option value="">-subdivsion-</option>

                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-md-4 hidden-xs text-right">
                        <label class="control-label">Circle:</label>
                    </div>
                    <div class="col-md-8 ">
                        <select name="circle" class="form-control"
                                data-ng-model="propertyddl.circle"
                                data-ng-options="circle.circleName for circle in Circles | filter:{distCode:propertyddlddl.district.distCode}  | filter:{subDivCode:propertyddl.subdivsion.subDivCode} | orderBy:'circleName'"
                                data-ng-disabled="!propertyddl.subdivsion||pformModel.submitted">
                            <option value="">--Select Circle--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-md-4 hidden-xs text-right">
                        <label class="control-label">Village:</label>
                    </div>
                    <div class="col-md-8">
                        <select name="village" class="form-control"
                                data-ng-model="propertyddl.village"
                                data-ng-options="village.villName for village in RevVillages | filter:{distCode:propertyddl.district.distCode} | filter:{subDivCode:propertyddl.subdivsion.subDivCode} |filter:{circleCode:propertyddl.circle.circleCode} | orderBy:'villName'"
                                data-ng-disabled="!propertyddl.circle || pformModel.submitted">
                            <option value="">--Select village--</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="col-md-4 hidden-xs text-right">
                        <label class="control-label">NewDagNo:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="dagNo"data-ng-model="property.dagNo" placeholder="DagNo" class="form-control " data-ng-readonly="pformModel.submitted" required/>
                        <span  data-ng-show="(applyPropForm.dagNo.$dirty && applyPropForm.dagNo.$invalid)||applyForm.$submitted">
                <span class="error-messages"data-ng-show="applyPropForm.dagNo.$error.required">Plz input a valid dagno</span>
            </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-md-4 text-right">
                        <label class="control-label hidden-xs">NewPattaNo:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input class=" form-control" type="text" name="pattaNo"data-ng-model="property.pattaNo" placeholder="PattaNo" data-ng-readonly="pformModel.submitted" required/>
                            <span class="input-group-addon span-success"><button class="btn btn-xs btn-success" data-ng-click="verfyplot()" data-ng-disabled="!applyPropForm.dagNo.$dirty || applyPropForm.dagNo.$invalid">VerifyPlot</button></span>
                        </div>
                        <span  data-ng-show="(applyPropForm.pattaNo.$dirty && applyPropForm.pattaNo.$invalid)||applyForm.$submitted">
                            <span class="error-messages"data-ng-show="applyPropForm.pattaNo.$error.required"><em>Plz input a valid Pattano</em></span>
                        </span>
                        


                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-md-4  hidden-xs text-right ">
                        <label class="control-label ">TransactionArea:</label>
                    </div>
                    <div class="col-md-8 ">
                        <div class="input-group">
                            <input class="form-control" data-ng-model="property.transactedArea" type="text" name="TransactionArea" placeholder="TransactArea" data-ng-readonly="pformModel.submitted" />
                            <span class="input-group-addon span-success">
                                <select name="unittype" class=""
                                        data-ng-model="property.unit"
                                        data-ng-options="unt.unitcode as unt.unitName for unt in unit  " data-ng-disabled="pformModel.submitted">
                                    <option value="">-select unit-</option>
                                </select>
                            </span>
                        </div>


                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-md-4">
                        <label class="control-label hidden-xs text-right">LandType:</label>
                    </div>
                    <div class="col-md-8">
                        <select name="landtype" class="form-control"
                                data-ng-model="property.landType"
                                data-ng-options="lt.landTypeCode as lt.landTypeName for lt in landtype"
                                data-ng-change="showlandtype()" data-ng-disabled="pformModel.submitted" required>

                            <option value="">-select landType-</option>
                        </select>
                         <span  data-ng-show="(applyPropForm.landtype.$dirty && applyPropForm.landtype.$invalid)||applyForm.$submitted">
                            <span class="error-messages"data-ng-show="applyPropForm.landtype.$error.required">*</span>
                         </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-md-4 hidden-xs text-right">
                        <label class="control-label">LandClass</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control"
                                data-ng-model="property.class"
                                data-ng-options="lc.classCode as lc.className for lc in landclass" data-ng-disabled="pformModel.submitted">
                            <option value="">-selectLandClass-</option>
                        </select>
                    </div>
                </div>

            </div>

            
            <div class="text-center">
                <div class="btn-group">
                    <button type="submit" data-ng-click="nextparty()" class="btn btn-primary btn-md " ng-disabled="applyPropForm.$pristine||applyPropForm.$dirty && applyPropForm.$invalid">next</button>
                    <button type="submit" data-ng-click="saveproperty()" class="btn btn-success btn-md "> <span class="glyphicon glyphicon-floppy-disk"> Draft</span></button>
                    <button type="reset" class="btn btn-default btn-md ">reset</button>
                </div>

            </div>

        </div>

    </div>
</form>






<!--<div class="form-horizontal">
        <div class="form-group">
        <div class="col-sm-2 text-right">
            <label class="control-label">District:</label>
        </div>
        <div class="col-sm-4">
            <select name="district" class="form-control"
                         data-ng-model="property.district"
                         data-ng-options="district.distName for district in districts  | orderBy:'distName'">
                         <option value="">--Select District--</option>
                     </select>
        </div>
         <div class="col-sm-2 text-right">
            <label class="control-label">Circle:</label>
        </div>
        <div class="col-sm-4 ">
             <select name="circle" class="form-control"
                         data-ng-model="property.circle"
                         data-ng-options="circle.circleName for circle in Circles | filter:{distCode:property.district.distCode}  | orderBy:'circleName'"
                         data-ng-disabled="!property.district">
                         <option value="">--Select Circle--</option>
                     </select>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-2 text-right">
            <label class="control-label">Village:</label>
        </div>
        <div class="col-sm-4">
             <select name="village" class="form-control"
                         data-ng-model="property.village"
                         data-ng-options="village.villName for village in RevVillages | filter:{distCode:property.district.distCode} | filter:{circleCode:property.circle.circleCode} | orderBy:'villName'"
                          data-ng-disabled="!property.circle">
                         <option value="">--Select village--</option>
                     </select>
        </div>
        <div class="col-sm-2 text-right">
            <label class="control-label">Property in Area:</label>
        </div>
        <div class="col-sm-4 ">
            <label for="" class="radio-inline">
                <input type="radio" name="propertyarea" value="Urban"
                    data-ng-checked="property.area == 'Urban'"
                    data-ng-model="property.area" />Urban

            </label>
            <label for="" class="radio-inline">
                <input type="radio" name="propertyarea" value="Rural"
                    data-ng-checked="property.area == 'Rural'"
                    data-ng-model="property.area" />Rural

            </label>
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-sm-2 text-right">
            <label class="control-label">PlotNo:</label>
        </div>
        <div class="col-sm-4">
            <input type="text" data-ng-model="property.plotno" class="form-control " /></div>
        <div class="col-sm-2 text-right">
            <label class="control-label">PattaNo:</label>
        </div>
        <div class="col-sm-4">
            <input type="text" data-ng-model="property.pattano" class="form-control " /></div>
    </div>
     <div class="form-group">
        <div class="col-sm-4 text-left">
            <label class="control-label">Property Address:</label>
        </div>
       </div>
         <div class="form-group">
             <div class="col-sm-2 text-right">
                 <label class="control-label">Address1:</label>
             </div>
             <div class="col-sm-4">
                 <input class="form-control" data-ng-model="property.address1" type="text" name="Property Address" value=" " />
             </div>
             <div class="col-sm-6">
                 <div class="col-sm-4 text-right">
                     <label class="control-label">Unit Area:</label>
                 </div>
                 <div class="col-sm-3">
                     <input class="form-control"  data-ng-model="property.plotarea" type="text" name="Unit Area" value=" " />
                 </div>
                 <div class="col-sm-5">
                     <select name="unittype" id="" class="form-control"
                         data-ng-model="property.unit">
                         
                         <option value="Hectare">Hectare</option>
                         <option value="Acre">Acre</option>
                         <option value="Sq.feet">Sq.feet</option>
                     </select>
                 </div>
             </div>
     </div>
    <div class="form-group">
             <div class="col-sm-2 text-right">
                 <label class="control-label">Address2:</label>
             </div>
             <div class="col-sm-4">
                 <input class="form-control" data-ng-model="property.address2" type="text" name="Property Address" value=" " />
             </div>
     </div>
      <div class="form-group">
             <div class="col-sm-2 text-right">
                 <label class="control-label">Address3:</label>
             </div>
             <div class="col-sm-4">
                 <input class="form-control"  data-ng-model="property.address3" type="text" name="Property Address" value=" " />
             </div>
     </div>  

    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-3">
            <button type="submit"  data-ng-click="nextparty()" class="btn btn-primary btn-md ">next</button>
            <button type="submit"  data-ng-click="saveproperty()" class="btn btn-primary btn-md "> <span class ="glyphicon glyphicon-floppy-disk" > Draft</span></button>
            <button type="reset" class="btn btn-default btn-md ">reset</button>
        </div>
    </div>
    
     

</div>-->
