<div class="container">
    <label class="info">Upload of scanned documents</label>
    <div class="text-center" >
        <form class="form-group">
            <div class="row">
                <div class="col-sm-4">
                     <input type="file" class=" col-sm-6 form-control" file-model="myFile"/>
                </div>
                <div class="col-sm-4">
                    <button class=" col-sm-3 btn btn-primary btn-primary-sm"ng-click="uploadFile()">upload</button>
                </div>
            
            </div>
            <div class="row">
                <div class="col-sm-4">
                     <input type="file" class=" col-sm-6 form-control" file-model="myFile"/>
                </div>
                <div class="col-sm-4">
                    <button class=" col-sm-3 btn btn-primary btn-primary-sm"ng-click="uploadFile()">upload</button>
                </div>
            
            </div>
            <div class="row">
                <div class="col-sm-4">
                     <input type="file" class=" col-sm-6 form-control" file-model="myFile"/>
                </div>
                <div class="col-sm-4">
                    <button class=" col-sm-3 btn btn-primary btn-primary-sm"ng-click="uploadFile()">upload</button>
                </div>
            
            </div>
            <div class="pull-left">
                <button class="btn btn-success" ng-click="$state.go('department.content.uploadComplete')">Submit</button>
            </div>
        </form>
    
</div>
</div>
