<div class="row">
    <div class="col-sm-6">
        <h3>DeedDetailForm</h3>
    </div>

</div>
<hr />

<ng-form class="form-horizontal">
    <div class="form-group ">
        <div class="col-sm-2 hidden-xs ">
            <label class="control-label hidden-xs ">RegnNo:</label>
        </div>
        <div class="col-sm-4  ">
            <input type="text" value="" class="form-control" placeholder="Regno" />
        </div>
        <div class="col-sm-2  hidden-xs  text-right">
            <label class="control-label">RegYear:</label>
        </div>
        <div class="col-sm-4 ">
            <input type="text" value="" class="form-control" placeholder="RegYear" />
        </div>
        <div class="col-sm-2  hidden-xs text-right ">
            <label class="control-label ">RegDate:</label>
        </div>
        <div class="col-sm-4 "><input class="form-control" type="text" placeholder="Regdate" /></div>
        <div class="col-sm-2  hidden-xs ">
            <label class="control-label">DateofExecution:</label>
        </div>
        <div class="col-sm-4">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="DateOfExec"/>
                <span class="input-group-addon">dd/mm/yyyy</span>
            </div>

        </div>
    </div>
    <div class="form-group ">
        
        
            <div class="col-sm-6 col-sm-push-3 form-nopadding " style="background-color:ActiveCaption">
                <div class=" input-group input-group-md  ">
                    <span class="input-group-addon">
                        Municiple:
                    </span>

                    <input type="radio" name="Municipal"
                           data-ng-checked="deed.municiple == 'Y'"
                           data-ng-model="deed.municiple" />Yes

                    <input type="radio" name="Municipal"
                           data-ng-checked="deed.municiple == 'N'"
                           data-ng-model="deed.municiple" />No


                </div>
            </div> 
            
            <div class="col-sm-6  form-nopadding " style="background-color:ActiveCaption">
                <div class=" input-group input-group-md ">
                    <span class="input-group-addon">
                        OutJuri:
                    </span>

                    <input type="radio" name="OutJurisdiction"
                           data-ng-checked="deed.outjuri == 'Y'"
                           data-ng-model="deed.outjuri" />Yes

                    <input type="radio" name="OutJurisdiction"
                           data-ng-checked="deed.outjuri == 'N'"
                           data-ng-model="deed.outjuri" />No


                </div>
            </div>
        </div>

        
    
</ng-form>
