


<div class="list-group">
    <a href="" class="list-group-item active" style="background-color: #9ed172; border-color: #9ed172">Links</a>
     <a   ui-sref="department.content.data" class="list-group-item ">DataEntry</a>
    <a   ui-sref="department.content.onlineapplication" class="list-group-item ">OnlineApplication<span class="badge pull-right">5</span></a>
    <a href="#sub-deeds" target="_self" data-toggle="collapse" class="list-group-item">ModelDeeds <span class="caret arrow" style="float: right"></span></a>
    <div class="collapse list-group-submenu" id="sub-deeds">
        <a href="#" class="list-group-item" style="padding-left: 30px; background-color: aliceblue"><em>Gifts</em></a>
        <a href="../../docs/sale.pdf" target="_blank" class="list-group-item" style="padding-left: 30px; background-color: aliceblue"><em>Sale</em></a>
    </div>
    <a href="#qlink" class="list-group-item" target="_self" data-toggle="collapse">OtherLinks
                     <span class="caret arrow" style="float: right"></span>
    </a>
    <div class="collapse list-group-submenu" id="qlink">
        <a href="http://louchapathap.nic.in" target="_blank" class="list-group-item" style="padding-left: 30px; background-color: aliceblue"><em>LouchaPathap</em></a>
        <a href="http://manipurrev.nic.in" target="_blank" class="list-group-item" style="padding-left: 30px; background-color: aliceblue"><em>ManipurRev</em></a>
    </div>

    <a href="#" class="list-group-item">Help</a>
</div>
