<div class="panel panel-info" id="panel">
    <div class="panel-heading " id="panelheader"></div>
    <div class="panel-body" id="sidepanel">
        <div class="navbar navbar-default" id="sidemenu-content" role="navigation">
            <span class="visible-xs navbar-brand">Quick Links</span>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidemenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div class="collapse navbar-collapse" id="sidemenu">
                <ul class="nav nav-sidebar">
                    <!--<li><a ui-sref-active="active" ui-sref="registration" ng-show="visibility">Apply Registration</a></li>-->
                    <li><a ui-sref-active="active" ui-sref="Search">MIS</a></li>
                    <li ng-show="$state.includes('department.content.home')" ><a ui-sref-active="active" ui-sref="department.content.data">DataEntry</a></li>
                    <li><a href="#sec3">Archive</a></li>
                    <li><a href="#sec4">Loucha Pathap</a></li>
                </ul>


            </div>
            <!-- /.navbar-collapse -->
        </div>
    </div>
</div>