
<div class="container">
    <div class="row" id="topframe">
        <div class="col-sm-12">
            <div class="col-sm-8">
                <h1>DataEntryForm</h1>
            </div>
           
            <div class="col-sm-4" ng-show="visibility">
                <button type="button" class="btn btn-default" data-ng-click="getOnline()">OnlineData</button>
            </div>
        </div>
    </div>
    <div class="row" ng-show="click">
        <div class="container-fluid">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2">Ackno:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="online.ackno" />
                    </div>
                    <div class="col-sm-7 col-xs-7 col-md-8 ">
                         <button class="btn btn-success btn-sm" data-ng-click="onlineData()">GetData</button>
                         <button class="btn btn-default btn-sm" data-ng-click="cancel()">cancel</button>
                    </div>
                   
                </div>
                
            </form>
        </div>
    </div>
     <hr />
    <form class="form-horizontal " name="deptRegform" novalidate>
        <div class="form-group">
            <label for="TS" class="col-sm-2 control-label ">TS</label>
            <div class="col-sm-3">
                <input type="text" name="TS" data-ng-model="tsyear.ts" class="form-control" placeholder="TS">
            </div>
            <label for="TS" class="col-sm-2 control-label ">TYear</label>
            <div class="col-sm-3">
                <input type="text" name="TYear" data-ng-model="tsyear.tyear" class="form-control" placeholder="TYear">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills" role="tablist">
                    <li ui-sref-active="active"><a ui-sref="department.content.form.deed">DeedDetails</a></li>
                    <li ui-sref-active="active"><a ui-sref="department.content.form.property">PropertyDetails</a></li>
                    <li ui-sref-active="active"><a ui-sref="department.content.form.executant">Executant</a></li>
                    <li ui-sref-active="active"><a ui-sref="department.content.form.claimant">Claimant</a></li>
                    <li ui-sref-active="active"><a ui-sref="department.content.form.identifier">Identifier</a></li>

                </ul>
            </div>
        </div>

        <div ui-view></div>
    </form>

    
   
    </div>   
