<div class="row">
    <div class="col-sm-6">
        <h3>ClaimantDetailForm</h3>
    </div>
    <div class=" col-sm-2 pull-right"><span class="text-danger"> #<em>optional</em></span></div>
    
</div>
<hr />
         <ng-form class="form-horizontal" role="form" name="claimantform" novalidate>

             <div class="form-group" ng-show="session.slnoddlVisibility">
                 <label class="col-sm-4 control-label pull-left">Select Claimant Slno:</label>
                 <div class="col-sm-2">
                     <select name="slno" id="" class="form-control"
                             data-ng-model="Clist.slNo"
                             data-ng-options="sl for sl in claimslnolist"
                             data-ng-change="getselectedClaimant()">
                         <option value="">slno</option>
                     </select>
                 </div>

             </div>

             <div class="form-group">
                    <label class="col-sm-2 control-label">Slno:</label>
                    <div class="col-sm-1">
                        <input type="text"  class="form-control" data-ng-model="claimant.slNo" readonly/>
                    </div>
                </div>
             <div class="form-group">
                 <label for="claimant" class="col-sm-2 control-label">Claimant</label>

                 <div class="col-sm-3">
                     <input type="text" name="Surname" data-ng-model="claimant.claimSurName" class="form-control" placeholder="Surnanme" />
                 </div>
                 <div class="col-sm-3">
                     <input type="text" name="name" data-ng-model="claimant.claimMiddleName" class="form-control text-left" placeholder="MiddleName" />
                 </div>
                 <div class="col-sm-3">
                     <input type="text" name="name" data-ng-model="claimant.claimLastName" class="form-control text-left" placeholder="LastName" />
                 </div>


             </div>
             <div class="form-group">
                 <label for="alias" class="col-sm-2 control-label ">Alias</label>
                 <div class="col-sm-3">
                     <input type="text" name="alias" data-ng-model="claimant.alias" class="form-control" placeholder="alias">
                 </div>
                  <div class="col-sm-3">
            <input type="text" value="" class="form-control"  placeholder="Mobile" data-ng-model="c.mobile" />
        </div>
                 <div class="col-sm-3">
                     <input type="text" name="alias" data-ng-model="claimant.Aadhaar" class="form-control" placeholder="Aadhaar"  >
                 </div>
             </div>
             <div class="form-group">
                 <label for="father" class="col-sm-2 control-label">Father</label>

                 <div class="col-sm-3">
                     <input type="text" name="Surname" data-ng-model="claimant.fatherSurname" class="form-control" placeholder="Surnanme" />
                 </div>
                 <div class="col-sm-3">
                     <input type="text" name="MiddleName" data-ng-model="claimant.fatherMiddleName" class="form-control text-left" placeholder="MiddleName" />
                 </div>
                 <div class="col-sm-3">
                     <input type="text" name="LastName" data-ng-model="claimant.fatherLastName" class="form-control text-left" placeholder="LastName" />
                 </div>
             </div>


             <div class="form-group">
                 <label for="sex" class="col-sm-2 control-label">Sex</label>
                 <div class="col-sm-4">
                     <label for="" class="radio-inline">
                         <input type="radio" name="sexradio" value="M"
                             data-ng-checked="claimant.sex == 'M'"
                             data-ng-model="claimant.sex" />Male
                     </label>

                     <label for="" class="radio-inline">
                         <input type="radio" name="sexradio" value="F"
                             data-ng-checked="claimant.sex == 'F'"
                             data-ng-model="claimant.sex" />Female
                     </label>
                 </div>

                 <!-- Dropdown select with jquery
            ============================================================  -->

                 <label for="" class=" control-label col-sm-2">Occupation</label>
                 <div class="col-sm-3">
                     <select name="occupation" id="" class="form-control"
                         data-ng-model="occupation"
                         data-ng-options="occupation for occupation in occupations">
                         <option value="">--select Occupation--</option>
                     </select>
                 </div>


             </div>
            
             <!--Dropdownlist Template-->

             <div ng-switch="session.OnlineStatus">

            <!-- DROPDOWNLIST TEMPLATE FOR OFFLINE DATA ENTRY-->
                 <div ng-switch-when="offline">
                     <!-- State Dropdown
    ================================  -->

                     <div class="form-group">
                         <label for="" class="control-label col-sm-2">State</label>
                         <div class="col-sm-4">
                             <select name="state" id="" class="form-control"
                                     data-ng-model="claim.state"
                                     data-ng-options="state.stateName for state in states  ">
                                 <option value="">-Select State-</option>

                             </select>
                         </div>

                         <!-- Sub-Division Dropdown
        ================================  -->
                         <label for="" class="control-label col-sm-2">District</label>
                         <div class="col-sm-4">
                             <select name="district" class="form-control"
                                     data-ng-model="claim.district"
                                     data-ng-options="district.distName for district in districts  | orderBy:'distName'">
                                 <option value="">--Select District--</option>
                             </select>
                         </div>

                     </div>

                     <!-- District Dropdown
    ================================  -->
                     <div class="form-group">
                         <label for="" class="control-label col-sm-2">Sub-Division</label>
                         <div class="col-sm-4">
                             <select name="subdiv" class="form-control"
                                     data-ng-model="claim.subDivision"
                                     data-ng-options="subdiv.subDivName for subdiv in subdivisions | filter:{distCode:claim.district.distCode} | orderBy:'subDivName'"
                                     data-ng-disabled="!claim.district">
                                 <option value="">--Select Sub-div--</option>
                             </select>

                         </div>

                         <!-- Village Dropdown
        ================================  -->
                         <label for="" class="control-label col-sm-2">Village</label>
                         <div class="col-sm-4">
                             <select name="village" id="" class="form-control"
                                     data-ng-model="claim.village"
                                     data-ng-options="village.villName for village in villages | filter:{distCode:claim.district.distCode} | filter:{subDivCode: claim.subdiv.subDivCode} | orderBy: 'villName'"
                                     data-ng-disabled="!claim.subDivision">
                                 <option value="">--Select Village--</option>
                             </select>
                         </div>
                     </div>
                     <!-- Post Office Dropdown
    ================================  -->
                     <div class="form-group">
                         <label for="" class="control-label col-sm-2">Post Office</label>
                         <div class="col-sm-4">
                             <select name="PostOffice" id="" class="form-control"
                                     data-ng-model="claim.postOffice"
                                     data-ng-options="po.postOffice1 for po in postoffices | filter:{distCode:claim.district.distCode}  | orderBy: 'postOffice1'"
                                     data-ng-disabled="!claim.district">

                                 <option value="">--select post office --</option>

                             </select>

                         </div>
                         <!-- Pincode Dropdown
        ================================  -->
                         <label for="" class="control-label col-sm-2">PinCode</label>
                         <div class="col-sm-4">
                             <input type="text" class="form-control text-left" data-ng-model="claim.postOffice.pinCode" placeholder="Pincode" />
                         </div>
                         <!--</div> -->
                     </div>

                     <div class="form-group">
                         <label class="control-label col-sm-2">PoliceStation</label>
                         <div class="col-sm-4">
                             <input type="text" class="form-control" />
                         </div>
                     </div>

                     <!-- ======================================== -->
                 </div>
                 <!-- DROPDOWLIST TEMPLATE FOR ONLINE DATA ENTRY-->
                 <div ng-switch-when="online">
                     <div class="form-group">
                         <label for="" class="control-label col-sm-2">State</label>
                         <div class="col-sm-4">
                             <input type="text" value="" class="form-control" placeholder="State" data-ng-model="claim.state" />
                         </div>

                         <!-- District
        ================================  -->
                         <label for="" class="control-label col-sm-2">District</label>
                         <div class="col-sm-4">
                             <input type="text" value="" class="form-control" placeholder="District" data-ng-model="claim.district" />
                         </div>

                     </div>

                     <div class="form-group">
                         <label for="" class="control-label col-sm-2">Sub-Division</label>
                         <div class="col-sm-4">
                             <input type="text" value="" class="form-control" placeholder="Subdivision" data-ng-model="claim.subDivision" />
                         </div>

                         <!-- Village Dropdown
        ================================  -->
                         <label for="" class="control-label col-sm-2">Village</label>
                         <div class="col-sm-4">
                             <input type="text" value="" class="form-control" placeholder="Village" data-ng-model="claim.village" />
                         </div>
                     </div>

                     <div class="form-group">
                         <label for="" class="control-label col-sm-2">Post Office</label>
                         <div class="col-sm-4">
                             <input type="text" value="" class="form-control" placeholder="Village" data-ng-model="claim.postOffice" />

                         </div>
                         <!-- Pincode Dropdown
        ================================  -->
                         <label for="" class="control-label col-sm-2">PinCode</label>
                         <div class="col-sm-4">
                             <input type="text" class="form-control text-left" data-ng-model="claim.postOffice.pinCode" placeholder="Pincode" />
                         </div>
                         <!--</div> -->
                     </div>

                     <div class="form-group">
                         <label class="control-label col-sm-2">PoliceStation</label>
                         <div class="col-sm-4">
                             <input type="text" class="form-control"  placeholder="PoliceStation" data-ng-model="claim.policeStatio"/>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-sm-3 col-sm-push-8">
                     <button data-ng-click="claimantAddmore()" class="btn btn-default btn-md pull-right">Add More</button>
                 </div>
             </div>     
<div class="form-group text-center">
    <div class="btn-group">
        <button type="submit" data-ng-click="$state.go('department.content.identifier')" class="btn btn-primary btn-md ">Next</button>
        <button class="btn btn-success btn-md" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span>Draft</button>
        <button type="reset" class="btn btn-default btn-md">Reset</button>
    </div>
</div>
</ng-form>
