<div class="container" id="Home/drafDeed.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">GIFT DEED</h3>
    </div>
    <div class="modal-body">
        <p class="text-justify">
            THIS DEED of Gift is made at ……….. this day of ......... 20.., between A son of Shri B resident of ….. (hereinafter called ” the Executant”) of the ONE PART and C son of A resident of …………… (hereinafter called “the claimant”) of the OTHER PART.

            WHEREAS the Executant is absolutely possessed of or otherwise well and sufficiently entitled to the land with building, more particularly described in the Schedule hereto and, hereinafter called “the said property” subject only to the mortgage next hereinafter recited.

            AND WHEREAS by a mortgage deed (hereinafter called “the mortgage”) dated …..………… and made between the Executant of the ONE PART and Shri D of the OTHER PART, the said property was mortgaged to the said D to secure the principal sum of Rs. ………………. and interest thereon as therein mentioned.

            And whereas a sum of Rs. ……………… towards principal together with Rs. ……………… interest thereon to the date of this deed remains now owing upon the security of the mortgage.

            AND WHEREAS the Executant is desirous of making a gift of the said property, subject to the mortgage to the donee.</p>

           <p> NOW THIS DEED WITNESSETH AS FOLLOWS:</p>

           <p> 1. In consideration of his natural love and affection for the Claimant, the Executant hereby transfers and conveys unto the donee all that the property particularly described in the Schedule hereto to hold the same unto the donee absolutely for ever subject to the mortgage and to the principal sum and all interest henceforth to become payable in respect thereof.</p>

            <p>2. The Claimant accepts the said gift and hereby covenants with the Executant that the Claimant or his successors, heirs or the persons deriving title under him will pay principal money and interest secured by and henceforth to become due under the mortgage and will hereafter keep the Executant, his estate and effects indemnified from all claims, proceedings and demands in respect thereof.</p>

           <p> 3. The value of the property is Rs. …..………………..</p>

            <p>IN WITNESS WHEREOF, the parties aforementioned have hereunto set their hands on the day and year first above written.</p>

             <p>The Schedule above referred to</p>

             <p>Signed and delivered by the within named Executant</p>

             <p>Signed and delivered by the within named Claimant</p>

            <p> WITNESSES/IDENTIFIER;</p>

             <p>1.</p>

            <p> 2</p>
       
    </div>
    <div class="modal-footer text-center">
        <button class="btn btn-primary btn-lg" data-ng-click="mod.ok()"><span class="glyphicon glyphicon-print"></span></button>
        
    </div>
</div>