<!--@{
    Layout = null;
}-->

   <!-- /.jumbotron -->

    <div class="jumbotron" id="jumbo">
         <div class="container">
           <h1><em>eSiroi</em><em><small> Property Registration application</small> </em></h1>
             
              <p>Revenue Department Govt. of Manipur</p>
            
          </div>
    </div>   
    <div class="container">
    <div class="row">
        <div class="col-md-3 " id="leftCol">
            <div class="panel panel-info" id="panel" >
                <div class="panel-heading" id="panelheader"></div>
                    <div class="panel-body">
                        <ul class="nav nav-stacked" id="sidebar">
                            <li><a ui-active="active" ui-sref="registration.content.apply">Apply Registration</a></li>
                            <li><a href="#/">Know your Sub-registrar</a></li>
                            <li><a href="#sec2">Search Registration</a></li>
                            <li><a href="#sec3">FAQ</a></li>
                            <li><a href="#sec4">Loucha Pathap</a></li>
                        </ul>
                    </div>
                
            </div>
        </div>
    <div class="col-md-9 pull-right">
        <div style="height: 600px">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
              	
      		</div> 
  	</div>
</div>

   