@{
    Layout = null;
}

<div class="container">
      
            <h1>Login form</h1><hr/>

            <form class="form-horizontal">
               <div class="form-group">
                   <label for="ID" class="col-sm-2 control-label">EIN</label>
                   <div class="col-sm-6">
                     <input type="email" class="form-control" placeholder="Enter EIN"/>
                   </div>

               </div>
               <div class="form-group">
                   <label for="password" class="col-sm-2 control-label">Password</label>
                   <div class="col-sm-6">
                     <input type="password" class="form-control" placeholder="Enter password"/>
                   </div>

               </div>
               <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-6 ">
                   <button type="submit" data-ui-sref="department.content.home" class="btn btn-primary">login</button>
                   <button type="reset" class="btn btn-default" data-ng-click="$state.go('')">clear</button>
                   </div>
               </div>

            </form>
        <!--</div>-->
    <!--</div>-->
    </div>


       
 