<!DOCTYPE html>

<html data-ng-app="eRegDeptApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    @*<script src="~/Scripts/app/app.js"></script>*@
    <script src="~/Areas/Department_User/Scripts/app1.js"></script>
</head>
<body>
    <div data-ng-view="">
        @RenderBody()
    </div>
</body>
</html>
