html {
  overflow-y: scroll;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#808080;
    /*overflow-x:hidden;*/
    /*overflow-y:scroll;*/
    height:100%;
    /*background: -webkit-linear-gradient(activeCaption,aliceblue); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(activeCaption, aliceblue); /* For Opera 11.1 to 12.0 */
     /*background: -moz-linear-gradient(activeCaption, aliceblue); /* For Firefox 3.6 to 15 */
     /*background: linear-gradient(activeCaption, aliceblue); /* Standard syntax (must be last)*/
}

    

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   background-color:#fcfcfe;
    margin-bottom:-999px;
    padding-bottom:999px;
    min-height: 100%;
    overflow-x:hidden;
    padding-top:5px;
    /*margin:0 auto -155px;*/
    /*margin-top: 0px;*/*/
    /*overflow-y:scroll;*/
    
}
.masthead{
    width:100%;
    background-color:#FFFfff;
    background-repeat:no-repeat;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   //max-width: 380px;
  max-width:none;
}

#login{
 padding-top: 90px;
    padding-bottom: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.affix-top,.affix{
	position: static;
}

/*@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:100px;
    width:228px;
  }
}

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}*/
#footer,.push{
     /*padding: 30px 0;*/
     padding-top:30px;
     height:155px;
}
#ul{
    
    list-style: none;
    padding: 0;
    margin: 0;

}

#leftCol{
    padding-top:50px;
}
#li{
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}

.active {
    background-color: #FFFfff;
    color: #ff0000 !important;
}

#mainView{
    border: 1px solid black;
	clear: both;
	padding: 0 1em;
}

/*@media (max-width:767px) {
    .navbar-nav.navbar-collapse {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}*/

#sidepanel{
    /*margin-left: 1px;
        margin-right: 1px;
        padding-left: 1px;
        padding-right: 1px;*/
        padding:0;
        
        background-color:#FFFfff;

}
/*.slide-animation-container {
    position:relative;
}*/
/*#navmenu{
    background-color:#9ed172;
    color:#ffffff;
    

}*/
#jumbo{
    background-color:#9ed172;
    color:#ffffff;
}
#panelheader{
    background-color:#9ed172;
    
}

#panel{
border-color:#9ed172;
}
#sidemenu-content{
background-color:#ffffff;
border-color:#ffffff;
padding-top:0;
}
.tabactive{
    background-color:#9ed172;
    border-color:#9ed172;
}

#bord{
    border-right:1px double #000;
}
/*#sidebar{
    margin-top:5%;
    padding:0;
}*/
#topframe{
    margin-top:2%;
}

.main-navbar{
    margin-bottom: 0;
}

 .css-form input.ng-invalid.ng-dirty {
    /*background-color: #ffd800 !important;*/
    border-color: #ff0000 !important;
  }

  .css-form input.ng-valid.ng-dirty {
    /*background-color: #9ed172 !important;*/
    border-color: #9ed172 !important;
  }

  .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 800px; 
    height: 300px;
}
  .form-nopadding{
      padding: 0;
      border:0;
      margin:0;
  }
  .error-msgs {
      /*position: fixed;*/
      top: 0;
      left: 0;
      z-index: 1;
    }
  .alert {
      margin-bottom: 0;

    }
  .error-messages {
      color:#ff0000;
      font-size:smaller;
      font-style:italic;
  }

  .app-modal-window .modal-dialog {
  width: 600px;
}
  .grid-align{
      text-align:center;
  }


  /*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}