

<div>
    <h1>Department Home</h1>
</div>
    
<div>
    <nav>

        <ul>
            <li>Sit amet, consectetur.</li>
            <li>Adipiscing elit fusce.</li>
            <li>Vel sapien elit.</li>
            <li>In malesuada semper.</li>
            <li>Mi, id sollicitudin.</li>
        </ul>

    </nav>
</div>
<div ng-controller="mathController"></div>
<div>
    <section>
        <div>
            <nav>
                <ul>
                    <li>Sit amet, consectetur.</li>
                    <li>Adipiscing elit fusce.</li>
                    <li>Vel sapien elit.</li>
                    <li>In malesuada semper.</li>
                    <li>Mi, id sollicitudin.</li>
                </ul>
            </nav>
        </div>
    </section>
</div>